@import url(./base.css);

header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background: url(../media/intro.jpg) center no-repeat;
    background-size: cover;
}

nav ul {
    float: right;
     
}

    nav ul li {

        display: inline-block;
        margin: 5vh 2vw;
    }
    

nav figure {
    margin: 5vh 3vw;

    display: inline-block;
}

nav figure a figcaption {
    font-weight: var(--font-weight-main);
    letter-spacing: 0.12em;
}
@keyframes pepega{
    0%{
     top:15vh;

    }
    50%{
       top: 20vh;
    }

    100%{
    top: 15vh;
    }
}
header main section{
    position: relative;
    top:0;
}
h1 {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20vh auto 0;
    text-align: center;
}
.mouse{
    position: relative;
    width: max-content;
    margin: auto;
    display: block;
    animation-duration: 5s;
    animation-name: pepega;
    animation-iteration-count:infinite;
    max-width: 100%;

}

header section article {
    position: relative;
    width: max-content;
    margin: 29vh auto 0;

}

header section article figure {
    top: 0;
    left: 0;
    margin: 0 8vw 0 0;
    width: max-content;
    height: auto;
    float: left;

}

header section article figure img {
    top: 0;
    left: 0;
    margin: 0 1vw 0 0;
    width: max-content;
    float: left;
    display: block;
    height: auto;
    object-fit: cover;

}

header article figure figcaption {
    color: var(--color-text-main);
    font-family: var(--font-family-main);
    width: max-content;
    float: left;
    font-weight: var(--font-weight-main);
    font-size: 18px;
    line-height: 21px;
}

.picture{
    margin: 50px auto;
    position: relative;
    max-width: 100%;
 
}
.picture figure {
    display: inline-block;
    margin: 0 2vw;

}

.picture figure img {
    margin: auto;
    height: auto;
    width: 80px;

}

.picture figure figcaption {
    color: var(--color-text-main);
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-secondary);
    font-size: 20px;
    line-height: 27px;

    text-align: center;

}
.kvadrat{
    margin: 10vw auto 0;
    position: relative;
    max-width: 100%;
}
.kvadrat h2{
    margin: 4vh 0;
}

.kvadrat figure {
    position: relative;
    display: inline-block;
    margin: 1vw 1vh;
}

.kvadrat figure figcaption {
    color: var(--color-text-main);
    font-family: var(--font-family-main);
    position: absolute;
    font-weight: var(--font-weight-main);
    font-size: 24px;
    bottom: 0;
    margin: 26px;

}

.kvadrat figure img {
    width: 480px;
    height: auto;
    
}

.kolbasa {
    position: relative;
    background: url(../media/kolbasa.png)center no-repeat;
    width: 100%;
    height: 560px;
    background-size: cover;
    overflow: hidden;
}
main p{
    color:var( --color-text-main);
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-main);
    font-size: 16px;
    line-height: 24px;
    margin: 50px 10px;
    float: left;
}
.kolbasa main{
margin: 150px auto;

}
form{
    position: relative;
    display: inline-block;
    width: 545px;
   height: 140px;
    margin: 30px 0 0 0;
    max-width: 100%;
}
input{
    position: relative;
   width: 255px;
   height: 50px;
   text-align: center;
   background:rgb(255, 255, 255,0.2);
   float: left;
   margin: 0 0px 30px 15px;
   color: var(--color-text-main);
   font-family: var(--font-family-main);
   font-weight: var(--font-weight-main);
   font-size: var(--font-size-main);
   border: 0;
   outline: none;
   
}
::placeholder{
    color: var(--color-text-main);
    font-family: var(--font-family-main);
   font-weight: var(--font-weight-main);
   font-size: var(--font-size-main);
  
}
span {
    position: relative;
    float: left;
    width: 255px;
    height: 50px;
    text-align: center;
    margin: 0 ;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-main);
    font-size: 13px;
    color:var( --color-text-main);
    line-height: var(--line-height-main);
    margin: 0 0px 0px 15px;
    top:10px;
}
button{
    position: relative;
    width: 255px;
    height: 50px;
    background: #D4C17F;
    float: left;
    margin: 0 0 0 15px;
    font-family: var(--font-family-main);
    font-weight:var(--font-weight-heading) ;
    font-size: 16px;
    color: var(--color-text-main);
    outline: none;
    border: 0;
}
.babka2{
    display: none;
}


.cartography{
    margin: 10px auto;
    position: relative;
    max-width: 100%;
}
.cartography h2{
    margin:0 0  50px 0;
}
 
.bottom{
 margin: 200px auto 50px;
    height: 200px;
    position: relative;
}
.end{
      width: max-content;
      max-width: 100%;
   
}

footer{
    background-color: #2D343C;
    position: relative;
    width: 100%;
    display: block;
}
footer main{
    height: 238px;
}
footer main  figure{
    position: relative;
   float: left;
     margin: 100px 0 0 25px;
     
}
footer main  figcaption{
    font-weight: var(--font-weight-main);
    letter-spacing: 0.12em;
}
footer main  ul{
    margin: 35px 0 0 150px ;
    float: left;
   position: relative;
}
.popa{
    position: relative;
    float: left;
}
.popa ul{
    margin: 35px 0 0 150px ;
    float: left;
   position: relative;
}
footer main ul li {
    position: relative;
    margin: 15px 0;
    line-height: var(--line-height-main);
    font-weight: var(--font-weight-main);
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    color:var( --color-text-main);
}


.papa li{
    position: relative;
    margin: 0 27px 15px 0;
    display: inline-block;

}
.numbers{
    position: absolute;
}

.two{
    top:-8vh;
    left: 52vw;
}
.three{
        top: 8vh;
    left: -11vw;
}
.four{
    top: 0;
    left: 57vw;
}
.five{
    top: -8vh;
    left: -9vw;
}


