@import url(./base.css);



header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background: url(../media/intro.jpg) center no-repeat;
    background-size: cover;
}

nav ul {
    float: right;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

nav figure {
    margin: 20px;
    display: inline-block;
}

nav figure a figcaption {
    font-weight: var(--font-weight-main);
    letter-spacing: 0.12em;
}

h1 {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 40vh auto;
    text-align: center;
}
@keyframes pepega{
    0%{
     top:55vh;

    }
    50%{
       top: 60vh;
    }

    100%{
    top: 55vh;
    }
}
.mouse{
    position: relative;
    width: max-content;
    margin: auto;
    display: block;
    animation-duration: 5s;
    animation-name: pepega;
    animation-iteration-count:infinite;

}

header section article {
    position: relative;
    width: max-content;
    margin: 0 auto;
    top: 70vh;

}

header section article figure {
    top: 0;
    left: 0;
    margin: 0 100px 0 0;
    width: max-content;
    height: auto;
    float: left;

}

header section article figure img {
    top: 0;
    left: 0;
    margin: 0 15px 0 0;
    width: max-content;
    float: left;
    display: block;
    height: auto;
    object-fit: cover;

}

header section article figure figcaption {
    color: var(--color-text-main);
    font-family: var(--font-family-main);
    width: max-content;
    float: left;
    font-weight: var(--font-weight-main);
    font-size: 18px;
    line-height: 21px;
}

.picture{
    margin: 100px auto;
}
.picture figure {
    display: inline-block;
    margin: 0 3vw;
    top: 100px;

}

.picture figure img {
    margin: 30px auto;
    height: 80px;
    width: auto;

}

.picture figure figcaption {
    color: var(--color-text-main);
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-secondary);
    font-size: 20px;
    line-height: 27px;

    text-align: center;

}
.kvadrat{
    margin: 100px auto 0;
}
.kvadrat h2{
    margin: 100px 0;
}

.kvadrat figure {
    display: inline-block;
}

.kvadrat figure figcaption {
    color: var(--color-text-main);
    font-family: var(--font-family-main);
    position: relative;
    bottom: 80px;
    left: 50px;
    font-weight: var(--font-weight-main);
    font-size: 24px;
    line-height: 28px;

}

.kvadrat figure img {

    margin: 0.5vw 0;
    height: 100%;
    width: 100%;
}

.kolbasa {
    position: relative;
    background: url(../media/kolbasa.png)center no-repeat;
    width: 100%;
    height: 560px;
    background-size: cover;
    overflow: hidden;
}
main p{
    color:var( --color-text-main);
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-main);
    font-size: 16px;
    line-height: 24px;
    margin: 50px 0;
    float: left;
    top:10px;
}
.kolbasa main{
 margin: 180px auto;
}
form{
    position: relative;
    float: left;
   width: 580px;
   height: 140px;
    margin: 30px 0 0 0;
}
input{
    position: relative;
   width: 255px;
   height: 50px;
   text-align: center;
   background:rgb(255, 255, 255,0.2);
   display: inline-block;
   margin: 0 15px 30px;
   
}
::placeholder{
    color: var(--color-text-main);
    font-family: var(--font-family-main);
   font-weight: var(--font-weight-main);
   font-size: var(--font-size-main);
}
button{
    position: relative;
    width: 255px;
    height: 50px;
    background: #D4C17F;
    display: inline-block;
    margin: 0 0 0 20px;
    font-family: var(--font-family-main);
    font-weight:var(--font-weight-heading) ;
    font-size: 16px;
    color: var(--color-text-main);
}
.cartography{
    margin: 150px 0 200px 0;
}
.cartography h2{
    margin:0 0  100px 0;
}
 span p{
    position: relative;
    display: inline-block;
    width: 255px;
    height: 50px;
    text-align: center;
    margin: 0 ;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-main);
    font-size: 13px;
    line-height: var(--line-height-main);
    margin: 0 15px;
    top:10px;
}
.bottom{

    height: 200px;
}
.end{
      width: max-content;
   
}
footer{
    background-color: #2D343C;
    display: inline-block;
    width: 100%;
    position: relative;
    height: 272px;
}
footer figure{
    position: relative;
    float: left;
     margin: 60px 0 0 0;
}
footer figcaption{
    font-weight: var(--font-weight-main);
    letter-spacing: 0.12em;
}
footer ul{
    margin: 57px 0 0 170px ;
    float: left;
   position: relative;
}
footer ul li {
    position: relative;
    margin: 15px 0;
}
li p{
    margin: 0 0 15px 0;
    line-height: var(--line-height-main);
    font-weight: var(--font-weight-main);
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
}
.social_networks{
    float: right;
    display: block;
    margin: 0 45px;

}
.social_networks li{
    position: relative;
    margin: 15px;
    display: inline-block;

}
.numbers{
    position: absolute;
    font-family: var(--font-family-block-title);
    font-weight:var(--font-weight-heading) ;
    font-size: 400px;
    line-height: 533px;
    color: var(--color-text-main);
    opacity: 0.02;
}
.two{
    left: 1112px;
    top: 667px;

}
.three{
    left: 0px;
    top: 1090px;
}
.four{
    left: 989px;
    top: 2603px;
}
.five{
    left: 35px;
    top: 3226px;
}

